@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Final_Project.Models.ViewModels.GardenControllerViewModels.PlantInfoUpdateViewModel
<link rel="stylesheet" href="~/css/stylesheet.css" />

<form asp-controller="Garden" asp-action="AddPlant" asp-route-scientific_name="@Model.scientific_name" asp-route-common_name ="@Model.common_name" asp-route-image_url = "@Model.image_url"  method="post">

    <label>Plant Date</label>
    <input asp-for="@Model.plantDate" />

    <label>Harvest Date</label>
    <input asp-for="@Model.harvestDate" />

    <button type="submit">Update Plant</button>

</form>

